.form {
  padding: 20px;
  margin: 20px;
  width: 400px;
}

li {
  margin-bottom: 5px;
  list-style: none;
}

.label {
  position: relative;
  cursor: pointer;
  transition: color 0.2s linear;
}

/* === скрываем браузерный чекбокс === */
.checkbox {
  /* 1 вариант - appearance */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  /* 2 вариант - visually hidden */

  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; */
}
/* ---------------------------- */

/* кастомный чекбокс */
.label-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -44px;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 2px solid green;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: transform, border-color;
}

/* если чекнутый, показываем "галочку" */
.checkbox:checked + .label-1::before {
  /* width: 21px;
  height: 10px; */
  border-color: green;
  border-width: 3px;
  /* border-top-style: none;
  border-right-style: none; */
  border-top-color: transparent;
  border-right-color: transparent;

  /* поворот, масштабирование и смещение "галочки" */
  transform: rotate(-45deg) scaleX(1.2) scaleY(0.7) translateX(3px)
    translateY(-5px);
  /* transform-origin: center; */
}

/* фокус на чекнутом */
.checkbox:focus + .label-1::before {
  border-bottom-color: #0f0;
  border-left-color: #0f0;
  border-top-color: transparent;
  border-right-color: transparent;
}

/* фокус на не чекнутом */
.checkbox:focus:not(:checked) + .label-1::before {
  border-color: #0f0;
}

/* надпись при фокусе */
.checkbox:focus + .label-1 {
  color: #0f0;
}

/* =========== RADIO =========== */
/*  скрываем браузерные стили  */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__label::before,
.radio__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -44px;
  border-radius: 50%;

  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: transform, background-color;
}

/* пустой радио */
.radio__label::before {
  width: 16px;
  height: 16px;
  border: solid 2px green;
}

/* чекнутый радио */
.radio__label::after {
  width: 20px;
  height: 20px;
  transform: scale(0);
}

/* чекнутый с фокусом */
input[type="radio"]:checked:focus-within ~ .radio__label::after {
  transform: scale(1.1);
  background-color: #0f0;
}

/* чекнутый без фокуса */
input[type="radio"]:checked ~ .radio__label::after {
  transform: scale(1.1);
  background-color: green;
}

/* надпись при фокусе */
input[type="radio"]:checked:focus-within ~ .radio__label {
  color: #0f0;
}

/* ============ Переключатели ============== */
.switcher__list {
  padding-left: 0;
}

.switcher__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switcher__label {
  position: relative;
  display: inline-block;
  max-width: 100px;
  word-wrap: break-word;
  cursor: pointer;
}

.switcher__label::before,
.switcher__label::after {
  position: absolute;
  display: block;
  content: "";
}

.switcher__label::before {
  top: 7px;
  left: 108px;
  width: 32px;
  height: 1px;
  border-top: 2px solid green;
}

.switcher__label::after {
  top: 0;
  left: 100px;
  width: 12px;
  height: 12px;
  border: solid 2px green;
  border-radius: 50%;
  background-color: var(--bg-color);

  transition: all ease-in 200ms;
}

.switcher__checkbox:checked ~ .switcher__label::after {
  transform: translateX(32px);
  border-color: green;
  background-color: green;
}

.switcher__checkbox:focus ~ .switcher__label::before,
.switcher__checkbox:focus ~ .switcher__label::after {
  border-color: #0f0;
}

.switcher__checkbox:focus ~ .switcher__label {
  color: #0f0;
}

/* ========== Text-input =========== */
.input-wrap {
  margin-top: 40px;
  margin-bottom: 40px;
}
.label-box {
  position: relative;
  width: 270px;
}

.label-box::before,
.label-box::after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  background-color: #757575;
  content: "";
  transition-duration: 0.2s;
  transition-property: width;
}

.label-box::before {
  left: 50%;
}

.label-box::after {
  right: 50%;
}

.text-input:focus ~ .label-box::before,
.text-input:focus ~ .label-box::after {
  width: 50%;
}

.text-input {
  box-sizing: border-box;
  padding: 5px;
  width: 270px;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
  outline: none;
  /* margin-bottom: 20px; */
  background-color: var(--bg-color);
}

.label-box label {
  position: absolute;
  top: -36px;
  color: #757575;
  font-size: 18px;
  transition: 0.2s ease all;
  pointer-events: none;
}

.text-input:focus ~ .label-box label,
.text-input:valid ~ .label-box label {
  font-size: 14px;
  transform: translateY(-20px);
}

/* ======= Button ======== */
.menu-icon {
  outline: 2px solid green;
  width: 120px;
  height: 90px;
  padding: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* центральная линия */
.menu-icon span {
  display: block;
  width: 100%;
  /* width: 80px; */
  height: 12px;
  background-color: #40d47e;
  transition: all 0.7s ease-in-out;
}

/* верхняя и нижняя линии */
.menu-icon span::before,
.menu-icon span::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: #40d47e;
  transition: all 0.7s ease-in-out;
}

/* верхняя линия */
.menu-icon span::before {
  transform: translate(0, -24px);
}

/* нижняя линия */
.menu-icon span::after {
  transform: translate(0, 12px);
}

/* в открытом состоянии разворачиваем */
.menu-icon-open span {
  transform: rotate(180deg);
}

/* в открытом состоянии укорачиваем */
.menu-icon-open span::before,
.menu-icon-open span::after {
  width: 60%;
}

/* для нижнего элемента стрелки */
.menu-icon-open span::before {
  transform: translate(45px, -12px) rotate(45deg);
}

/* для верхнего элемента стрелки */
.menu-icon-open span::after {
  transform: translate(45px, 2px) rotate(-45deg);
}
