.form {
  padding: 20px;
  margin: 20px;
  width: 400px;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  background-color: aqua;

  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  padding: 10px 20px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #333;
}

.form-input:focus + .form-label {
  transform: translateY(-50px);
}
