.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.menu-link {
  display: block;
  padding: 10px 20px;
}

.menu-item {
  position: relative;
  margin-right: 10px;
  background-color: #bbb;
  outline: 1px solid red;
}

.submenu {
  margin: 0;
  padding: 10px;
  list-style: none;
  background-color: #aaa;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  margin-bottom: 5px;
}
