.form {
  padding: 20px;
  margin: 20px;
  width: 400px;
}

li {
  margin-bottom: 5px;
  list-style: none;
}

.label-1 {
  position: relative;
  cursor: pointer;
  transition: color 0.2s linear;
}

/* === скрываем браузерный чекбокс === */
.checkbox {
  /* 1 вариант - appearance */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  /* 2 вариант - visually hidden */

  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; */
}
/* ---------------------------- */

/* кастомный чекбокс */
.label-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -44px;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 2px solid green;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: transform, border-color;
}

/* если чекнутый, показываем "галочку" */
.checkbox:checked + .label-1::before {
  /* width: 21px;
  height: 10px; */
  border-color: green;
  border-width: 3px;
  /* border-top-style: none;
  border-right-style: none; */
  border-top-color: transparent;
  border-right-color: transparent;

  /* поворот, масштабирование и смещение "галочки" */
  transform: rotate(-45deg) scaleX(1.2) scaleY(0.7) translateX(3px)
    translateY(-5px);
  /* transform-origin: center; */
}

/* фокус на чекнутом */
.checkbox:focus + .label-1::before {
  border-bottom-color: #0f0;
  border-left-color: #0f0;
  border-top-color: transparent;
  border-right-color: transparent;
}

/* фокус на не чекнутом */
.checkbox:focus:not(:checked) + .label-1::before {
  border-color: #0f0;
}

/* надпись при фокусе */
.checkbox:focus + .label-1 {
  color: #0f0;
}
