.form {
  padding: 20px;
  margin: 20px;
  width: 400px;
}

.form-field {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  /* background-color: aqua; */

  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  padding: 10px 20px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #333;
}

/* смещаем label вверх когда есть фокус на input ИЛИ когда НЕ показан placeholder (т.е. когда есть какой-то введённый текст в input) */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: tomato;
}

/* для работы  с иконкой исп-ся селектор ~ ("все соседи") */
.form-input:focus ~ .icon {
  background-color: blue;
}

.with-icon {
  left: 45px;
}

/* ============================================== */

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

/* ================================================================== */

textarea {
  resize: none;
}
