.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.menu-link {
  position: relative;

  display: block;
  padding: 10px 20px;
  color: currentColor;
}

.menu-link::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: red;

  transform: scaleX(0);
  transition: transform 300ms linear, opacity 300ms ease-in;
}

.menu-link:hover::after {
  transform: scaleX(1);
}

.menu-item {
  position: relative;
  background-color: #ddd;
  outline: 1px solid #444;
}

.menu-item:not(:last-child) {
  margin-right: 10px;
}

/* effect 1 - from left to right */
.effect-1::after {
  transform-origin: left;
}

/* effect 2 - from center */

/* effect 3 - from right to left with opacity */
.effect-3::after {
  transform-origin: right;
  opacity: 0;
}

.effect-3:hover:after {
  opacity: 1;
}
